@media only screen and (max-width: 1750px) {
    .container {
        max-width: 1500px !important;
    }
}
@media only screen and (max-width: 1650px) {
    .main_ {
        height: 85vh !important;
        .design {
            .left {
                left: 80px !important;
                bottom: 50px !important;
                width: 700px;
            }
            .right {
                width: 700px;
            }
        }
    }
}

@media only screen and (max-width: 1650px) {
    .container {
        max-width: 1350px !important;
    }
    .title {
        font-size: 36px;
    }
    .margin_ {
        height: 30px;
    }
    #Homepage {
        .main_ {
            height: 65vh !important;
            .title {
                font-size: 42px !important;
                line-height: normal !important;
            }
            .descript {
                p {
                    font-size: 18px !important;
                }
            }
            .btn {
                padding: 12px 46px;
                p {
                    font-size: 16px;
                }
            }
            .content {
                padding-top: 120px !important;
            }
            .design {
                .left {
                    left: 50px !important;
                    bottom: 50px !important;
                    width: 600px;
                }
                .right {
                    width: 600px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
    .container {
        max-width: 1100px !important;
    }
    .questions {
        display: none !important;
    }
    .hidden {
        p {
            width: 900px !important;
        }
    }
    .ur-service {
        .wrapper_ {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        max-width: 900px !important;
    }
    #Homepage {
        .main_ {
            height: 50vh !important;
            .content {
                padding-top: 120px !important;
            }
            .design {
                .left {
                    display: none;
                }
                .right {
                    width: 500px;
                }
            }
        }
        .select {
            .wrapper {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    #Footer {
        .container {
            display: grid !important;
            .questions {
                display: flex;
            }
            .logo {
                // grid-column: ;
                img {
                    width: 75px;
                }
                p {
                    // display: none;
                }
            }
            .map {
                margin-top: 30px;
                width: 100%;
                grid-column: 1 / span 3;
                iframe {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        max-width: 700px !important;
    }
    .questions {
        display: none !important;
    }
    .hidden {
        p {
            width: fit-content !important;
        }
    }
    .main_ {
        height: fit-content !important;
        .title {
            font-size: 36px !important;
        }
        .descript {
            p {
                width: fit-content !important;
            }
        }
        .design {
            display: none;
        }
    }
    .left-con {
        img {
            height: 50px !important;
        }
    }

    .show {
        .name {
            font-size: 22px !important;
        }
        img {
            height: 10px !important;
        }
    }
    .title {
        font-size: 28px;
    }
    .ur-service {
        .num {
            span {
                font-size: 82px !important;
                line-height: normal !important;
            }
        }
        .head {
            font-size: 24px !important;
            line-height: normal !important;
        }
        .desc {
            font-size: 16px !important;
        }
    }
}
@media only screen and (max-width: 700px) {
    .container {
        max-width: 500px !important;
    }
    .right-con {
        li {
            margin-left: 25px !important;
        }
    }
    .title {
        line-height: normal !important;
    }
    .show {
        .name {
            font-size: 18px !important;
            line-height: normal !important;
        }
    }
    .logo {
        p {
            display: none;
        }
    }
}

@media only screen and (max-width: 700px) {
    .container{
        max-width: 400px !important;
    }
    .right-con {
        li {
            font-size: 14px !important;
        }
    }
    .left-con{
        img{
            height: 30px !important;
        }
    }
    .content{
        .title{
            font-size: 28px !important;
        }
    }
}