* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    text-decoration: none;
    list-style: none;
}

body{
    scroll-behavior: smooth;
}

.container {
    max-width: 1730px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    line-height: 59px;
    font-weight: 600;
    text-align: center;
}

.margin_ {
    height: 91px;
}

#Homepage {
    .main_ {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        background-image: url("~/src/assets/upload/bg.png");
        background-position: center;
        background-size: cover;
        .content {
            position: relative;
            padding-top: 200px;
            p,
            h1 {
                color: white;
                text-align: left;
            }
            .title {
                font-size: 64px;
                line-height: 78px;
            }
            .descript {
                p {
                    font-weight: 600;
                    font-size: 24px;
                    width: 766px;
                    line-height: 29px;
                    color: #d5d5d5 !important;
                    margin-top: 9px;
                }
            }
            .btn {
                width: fit-content;
                padding: 15px 73px;
                margin-top: 35px;
                background: #d4d4d4;
                border-radius: 9px;
                &:hover {
                    cursor: pointer;
                }
                p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #000000;
                }
            }
        }
        .design {
            img {
                position: absolute;
                bottom: 0;
            }
            .left {
                left: 177px;
                bottom: 15px;
            }
            .right {
                right: 0;
            }
        }
    }
    .select {
        text-align: center;
        .wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 66px;
            gap: 44px;
            .item {
                p {
                    margin-top: 28px;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
    .int {
        .select-row {
            margin-top: 30px;
            .item {
                background: #f8fcff;
                &:nth-child(2n + 2) {
                    background: #fff;
                }
                .show {
                    display: flex;
                    height: 77px;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        height: 15px;
                        transition: 0.3s ease;
                        &.active {
                            transform: rotate(180deg);
                        }
                    }
                    .name {
                        font-size: 28px;
                        line-height: 34px;
                        font-weight: 600;
                    }
                }
                .hidden {
                    display: none;
                    transition: 0.3s ease;
                    padding-bottom: 20px;
                    p {
                        width: 1200px;
                        font-size: 21px;
                    }
                    &.container {
                        margin-left: auto;
                    }
                    &.active {
                        display: block;
                    }
                }
            }
        }
    }
    .ur-service {
        .wrapper_{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 50px;
            gap: 25px;
        }
        .item {
            span {
                font-size: 128px;
                line-height: 156px;
                font-weight: 700;
                -webkit-text-stroke: 3px #000000;
                color: transparent;
            }
            .head {
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
            }
            .desc {
                font-weight: 600;
                margin-top: 10px;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}