<template>
  <div id="Homepage">
    <Header />
    <div class="main_ ">
      <div class="content container">
        <h1 class="title">Адвокатская фирма "QOMUS"</h1>
        <div class="descript">
          <p>
            Коллегия Адвокатов "Qomus"-это адвокатское формирование, предоставляющее широкий спектр юридической помощи
            физическим и юридическим лицам
          </p>
        </div>
        <div class="btn">
          <p>О нас</p>
        </div>
      </div>
      <div class="design container">
        <img src="../assets/upload/lines.png" alt="" class="left">
        <img src="../assets/upload/judje.png" alt="" class="right">
      </div>
    </div>
    <div class="margin_"></div>
    <div class="select container">
      <h1 class="title">Почему нужно выбрать нас?</h1>
      <div class="wrapper">
        <div class="item">
          <img src="../assets/upload/pers1.png" alt="">
          <p>Над поставленной задачей работает не один юрист, а целая команда профессионалов; </p>
        </div>
        <div class="item">
          <img src="../assets/upload/pers2.png" alt="">
          <p>В отличие от штатного юриста, мы всегда с Вами и не будем отсутствовать ввиду каникул/отпуска/больничного
          </p>
        </div>
        <div class="item">
          <img src="../assets/upload/pers3.png" alt="">
          <p>На нас не нужно выделять средства из фонда оплаты труда, за наши услуги не отчисляются налоги и взносы</p>
        </div>
        <div class="item">
          <img src="../assets/upload/pers4.png" alt="">
          <p>Мы крайне мотивированны решать задачи любой сложности быстро и качественно</p>
        </div>
      </div>
    </div>
    <div class="margin_" id="select"></div>
    <div class="int">
      <h1 class="title">
        Представление интересов в ...
      </h1>
      <div class="select-row">
        <div class="item" v-for="item of data" @click="show_inf(item)" :key="item.id">
          <div class="show container">
            <p class="name">
              {{ item.title }}
            </p>
            <img src="../assets/upload/arrow.svg" :class="item.active ? 'active' : ''" alt="">
          </div>
          <div class="hidden container" :class="item.active ? 'active' : ''">
            <p>
              {{ item.desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="margin_"></div>
    <div class="ur-service container">
      <h1 class="title">Предлогаем вам комплекс юридических услуг</h1>
      <div class="wrapper_">
        <div class="item">
          <div class="num"><span>1</span></div>
          <p class="head">Юридическое сопровождение </p>
          <p class="desc">Включая консультирование по текущим вопросам деятельности организации связанных с применением
            корпоративного, гражданского, налогового, таможенного, трудового законодательства; </p>
        </div>
        <div class="item">
          <div class="num"><span>2</span></div>
          <p class="head">Юридические услуги</p>
          <p class="desc">По регистрации, реорганизации, ликвидации юридических лиц всех форм собственности</p>
        </div>
        <div class="item">
          <div class="num"><span>3</span></div>
          <p class="head">Аккредитации представительств</p>
          <p class="desc">Зарубежных компаний и организаций, получении лицензий, сертификатов и иных разрешительных
            документов</p>
        </div>
        <div class="item">
          <div class="num"><span>4</span></div>
          <p class="head">Юридическое сопровождение</p>
          <p class="desc">Налоговых проверок и исполнительного производства</p>
        </div>
        <div class="item">
          <div class="num"><span>5</span></div>
          <p class="head">Разработка</p>
          <p class="desc">По регистрации, реорганизации, ликвидации юридических лиц всех форм собственности</p>
        </div>
        <div class="item">
          <div class="num"><span>6</span></div>
          <p class="head">Аккредитации представительств</p>
          <p class="desc">Внутренних документов компаний по организационным вопросам и вопросам корпоративного
            управления, внедрение процедур и политик компаний (compliance процедур, обработки персональных данных и пр.)
          </p>
        </div>
      </div>
    </div>
    <div class="margin_"></div>
    <Footer />
  </div>
</template>

<script>
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

export default {
  data() {
    return {
      data: [
        {
          active: false,
          title: "Уголовных судах",
          desc: 'Коллегия адвокатов «QOMUS» оказывает профессиональную юридическую помощь по представлению интересов юридических и физических лиц в судах по уголовным делам. Большой опыт участия в судебных процессах по различным категориям, и хорошее знание действующего законодательства, позволяет адвокатам Коллегии адвокатов «QOMUS» достойно и эффективно представлять интересы клиентов в различных судебных инстанциях.'
        },
        {
          active: false,
          title: "Админитсративных судах",
          desc: 'Коллегия адвокатов «QOMUS» оказывает профессиональную юридическую помощь по представлению интересов юридических и физических лиц в административных судах. Большой опыт участия в судебных процессах по различным категориям административных правонарушений и административных споров и хорошее знание действующего законодательства, позволяет адвокатам Коллегии адвокатов «QOMUS» достойно и эффективно представлять интересы клиентов в различных инстанциях административных судов. '
        },
        {
          active: false,
          title: "Гражданских судах",
          desc: 'Коллегия адвокатов «QOMUS» оказывает профессиональную юридическую помощь по представлению интересов юридических и физических лиц в судах по гражданским делам. Большой опыт участия в судебных процессах по различным категориям и хорошее знание действующего законодательства, позволяет адвокатам Коллегии адвокатов «QOMUS» достойно и эффективно представлять интересы клиентов в различных судебных инстанциях. '
        },
        {
          active: false,
          title: "Экономических судах",
          desc: 'Коллегия адвокатов «QOMUS» оказывает профессиональную юридичкскую помощь по представлению интересов юридических и физических лиц в экономических судах. Большой опыт участия в судебных процессах по различным категориям экономических споров (в т.ч. споры по неисполнению договорных обязательств, споры по взысканию задолженности и штрафных санкций, споры с участием участников (учредителей) акционеров обществ и других организационно-правовых форм, дела по установлению фактов, имеющих юридическое значение и др.) и хорошее знание действующего законодательства, позволяет адвокатам Коллегии адвокатов «QOMUS» достойно и эффективно представлять интересы клиентов в различных инстанциях экономических судов. '
        },
        {
          active: false,
          title: "Разработку проектов договоров",
          desc: 'Коллегия адвокатов «QOMUS» оказывает профессиональную юридическую помощь по разработке проектов договоров, контрактов и соглашений любой сложности. В случае необходимости, специалисты Коллегии адвокатов «QOMUS» помогут выбрать клиенту оптимально подходящий вид и форму договора, контракта и соглашения, и предоставят рекомендации о порядке заключения сделки. '
        },
        {
          active: false,
          title: "Консультация по вопросам трудоустройства иностранных граждан в Узбекитане ",
          desc: `Коллегия адвокатов «QOMUS» оказывает юридическую помощь по предоставлению правовых консультаций по вопросам порядка трудоустройства иностранных граждан в Республике Узбекистан, в том числе: 
           
          - порядка выдачи и продления разрешений на привлечение в Республику Узбекистан иностранной рабочей силы; 
           
          
          - порядка выдачи и продления подтверждений иностранным гражданам на право трудовой деятельности на территории Республики Узбекистан.  
           
          
          Адвокаты коллегии адвокатов «QOMUS» окажут содействие в подготовке соответствующих документов, необходимых для подачи в Агентство по вопросам внешней трудовой миграции. `
        },
        {
          active: false,
          title: "Разработка кадровой документации и внутренних регламентов",
          desc: `
          Коллегия адвокатов «QOMUS» оказывает юридическую помощь по разработке кадровой документации и внутренних регламентов (локальных актов), в том числе:  
           
          - трудовых договоров; 
           
          - договоров о материальной ответственности работников; 
           
          - соглашений о расторжении трудового договора; 
           
          - правил внутреннего распорядка дня; 
           
          - коллективных договоров; 
           
          - положений о коммерческой тайне; 
           
          - положений о системе оплаты труда и стимулировании работников. 
          `
        },
        {
          active: false,
          title: "Правовой консалтинг по вопросам лицензирование",
          desc: `
          Коллегия адвокатов «QOMUS» оказывает услуги по предоставлению правовых консультаций по вопросам лицензирования отдельных видов деятельности, осуществляемых юридическими лицами. Перечень видов деятельности, на осуществление которых требуются лицензии, утвержден Постановлением Олий Мажлиса Республики Узбекистан за № 222-II от 12.05.2001 года. Адвокаты коллегии адвокатов «QOMUS» проконсультируют о порядке и особенностях лицензирования отдельных видов деятельности, лицензирующих органах, лицензионных требованиях, и документах, необходимых для получения соответствующей лицензии. 
          `
        },
        {
          active: false,
          title: "Контрактов и соглашений",
          desc: `Коллегия адвокатов «QOMUS» оказывает профессиональную юридическую помощь по разработке проектов договоров, контрактов и соглашений любой сложности. В случае необходимости, специалисты Коллегии адвокатов «QOMUS» помогут выбрать клиенту оптимально подходящий вид и форму договора, контракта и соглашения, и предоставят рекомендации о порядке заключения сделки. `
        },
      ],
    }
  },
  methods: {
    show_inf(param) {
      for (let item of this.data) {
        if (JSON.stringify(item) == JSON.stringify(param)) {
          item.active = !item.active
        }
      }
    }
  },
  components: {
    Header,
    Footer
  }
}
</script>

<style lang="scss">

</style>
