<template>
    <div id="Footer">
        <div class="container">
            <div class="logo">
                <img src="../assets/upload/white_siple_un.png" alt="">
                <p> Мы не даём пустых обещаний!<br> Мы просто делаем свою работу качественно и результативно!</p>
            </div>
            <div class="questions">
                <label>По вопросам дел</label>
                <ul>
                    <a href="#select">По семейном вопросам</a>
                    <a href="#select">По экономическим делам</a>
                    <a href="#select">По гражданским делам</a>
                    <a href="#select">По административным делам</a>
                    <a href="#select">По уголовным делам</a>
                </ul>
            </div>
            <div class="link">
                <label for="">связаться с нами</label>
                <div class="links">
                    <div class="location div">
                        <div class="icon">
                            <img src="../assets/upload/location.svg" alt="">
                            <div class="info">
                                <p>Страна Узбекистан,</p>
                                <p>город Самарканд,</p>
                                <p>ул.Мирзо Улугбекб, 60</p>
                            </div>
                        </div>
                    </div>
                    <div class="call div">
                        <div class="icon">
                            <img src="../assets/upload/mail.svg" alt="">
                            <div class="info">
                                <a href="mailto: Komus@mail.ru">Komus@mail.ru</a>
                            </div>
                        </div>
                    </div>
                    <div class="mail div">
                        <div class="icon">
                            <img src="../assets/upload/phone.svg" alt="">
                            <div class="info">
                                <a href="tel:366-233-76-67">366 233-76-67</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d6143.236329961096!2d66.9416969!3d39.6583071!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3f4d18d9660041d7%3A0x54628fa9629e64b2!2z0YPQu9C40YbQsCDQnNC40YDQt9C-INCj0LvRg9Cz0LHQtdC60LAsINCh0LDQvNCw0YDQutCw0L3QtA!3m2!1d39.6592179!2d66.9433851!5e0!3m2!1sru!2s!4v1550691608333"
                    width="500" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div class="prod">
            Komus © 2022 All rights reserved
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
#Footer {
    background-color: #000000;
    padding: 55px 0;

    .container {
        display: flex;
        justify-content: space-between;

        .logo {
            img {
                width: 125px;
            }

            p {
                margin-top: 30px;
                font-weight: 600;
                width: 283px;
                font-size: 18px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }

        .questions {
            display: flex;
            flex-direction: column;

            label {
                color: white;
                font-weight: 600;
                font-size: 25px;
                line-height: 20px;
                color: #FFFFFF;
            }

            ul {
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                a {
                    margin-top: 5px;
                    color: white;
                    font-size: 18px;
                    line-height: 20px;
                    color: #FFFFFF;
                    width: fit-content;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        right: 0;
                        height: 1.5px;
                        background-color: white;

                    }
                }
            }
        }

        .link {
            label {
                color: white;
                font-weight: 600;
                font-size: 25px;
                line-height: 20px;
                color: #FFFFFF;
            }

            .div {
                .icon {
                    margin-top: 20px;
                    display: flex;

                    img {
                        margin-right: 15px;
                        width: 25px;
                    }
                }
            }

            a,
            p {
                color: white;
                margin-top: 5px;
                color: white;
                font-size: 18px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }

    }

    .prod {
        color: white;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        margin-top: 25px;
        line-height: 20px;
    }
}
</style>