<template>
    <div id="header">
        <div class="container header-con">
            <div class="left-con">
                <img src="../assets/upload/white_long.png" alt="">
            </div>
            <div class="right-con">
                <ul>
                    <li>
                        <router-link to="/location">
                            Локация
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/location">
                            Контакты
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/location">
                            О фирме
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>

export default {

}
</script>

<style lang="scss">
#header {
    padding: 10px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.46);
    backdrop-filter: blur(19.5px);

    .header-con {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-con {
            img {
                height: 70px;
            }
        }

        .right-con {
            ul {
                display: flex;

                li {
                    margin-left: 70px;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}
</style>