<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import '../static/css/assets/scss/style.css'
import '../static/css/assets/scss/media.css'

export default {

}
</script>

<style>
</style>